@import "../../../../sass/abstracts/globals";

/* NOTE Overwrite the properties of rsuite.js */ // Wraps the modal
.rs-modal {
  margin: 0;
}
.rs-modal-sm,
.rs-modal-full {
  max-width: unset;
}
.rs-modal-wrapper {
  overflow: initial;
  height: 100%;
  .rs-modal-dialog {
    height: 100%;
    .rs-modal-content {
      height: 100%;
    }
  }
}
.flashcardtrainer__modal {
  width: 100%;
  height: 100%;
  .lm-lc-flashcardtrainer {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "statistics"
      "start";

    .flashcardtrainer__statistics {
      grid-area: "statistics";
    }

    .flashcardtrainer__start {
    }

    // NOTE We have another setting if we are revising
    &.istraining {
      // NOTE The start button is now 'x' and is no longer in the grid layout
      grid-template-rows: 70% 30%;
      grid-template-areas:
        "question question"
        "show show";
    }

    // NOTE The answer with the right and wrong button take up space
    &.istraining.showanswer {
      grid-template-rows: 40% 40% 20%;
      grid-template-areas:
        "question question"
        "answer answer"
        "wrong right";

      // NOTE TABLET
      @include sm() {
      }

      // NOTE LAPTOP
      @include md() {
      }

      // NOTE DESKTOP
      @include lg() {
      }
    }
  }
}
