@import "../../abstracts/globals";

@mixin home-text-background {
  background-color: rgba(73, 73, 73, 0.6);
}

.lm-home {
  position: relative !important;
  font-size: 16px;
  font-weight: 500;
  padding: 0 0 !important;

  // NOTE For lm-cta-authenticate
  p {
    color: white;
    line-height: 130%;
  }

  @media screen and (min-width: 576px) {
    margin-bottom: 35vh;
  }

  .home__authenticate {
    display: flex;
    justify-content: center;
    div {
      padding: 1rem;
    }
  }

  .lm-home__intro {
    padding: 2rem;
    background-color: rgba(11, 11, 11, 0.8);
    letter-spacing: 0.5px;
    margin-bottom: 2rem;
    p {
      font-size: 20px;
      text-shadow: 0 0 40px black;
    }
    @include md() {
      font-size: 16px !important;
    }
  }

  .lm-home__features {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    .lm-home__section {
      width: 100%;
      height: 50vh;
      position: relative;

      border-radius: 1rem;
      border: 3px solid black;

      padding: 1rem 0;

      // .image {
      //   position: absolute;
      //   opacity: 0.66;
      //   z-index: 0;
      //   img {
      //     width: 100%;
      //     height: 100%;
      //   }
      // }

      .content-container {
        width: 100%;
        height: 100%;
        position: relative;
        padding: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title,
        .text {
          opacity: 1 !important;
          z-index: 3;
          border-radius: 1rem;
          color: rgb(255, 255, 255);
          text-shadow: 0 0 40px black;
          background-color: rgba(11, 11, 11, 0.8);
        }

        .title {
          padding: 1rem;
          width: fit-content;
          height: fit-content;
          font-size: 33px;
          @media screen and (min-width: 576px) {
          }
        }

        .text {
          padding: 1rem;
          width: fit-content;
          height: fit-content;
          font-size: 22px;
        }
      }
    }
  }
  .lm-cta-authenticate {
    width: 100vw;
    height: 10vh;
    min-height: 10vh;
    position: fixed;
    right: 15px;
    bottom: 0;

    display: flex;
    justify-content: center;

    background-color: rgba(154, 160, 154, 0.486);

    @media screen and (min-width: 576px) {
      bottom: 0;
    }

    .lm-cta-register {
      margin-right: 20%;
    }

    .lm-cta-login {
    }
  }
}

.section-divider {
  height: 3rem;
  z-index: 2;
  visibility: hidden;
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%),
    inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
  &:last-of-type {
    display: none;
  }
}
