@use "sass:map";

// desktop
$xl: 1200px;
// laptop
$lg: 992px;
// tablet
$md: 768px;
// smartphone
$sm: 576px;

$breakpoints: (
  sm: "567px",
  md: "768px",
  l: "992px",
  xl: "1200px",
);

@mixin mq($key) {
  $size: map.get($breakpoints, $key);

  @media (min-width: $size) {
    @content;
  }
}
