*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  // We do not want overflowing elements!
  // overflow-x: hidden !important;
  max-width: 100%;
}

body {
  max-width: 100%;
  // overflow-x: hidden !important;
  width: 100%;
  height: 100%;
}

// ANCHOR .app
.app {
  width: 100%;
  height: 100vh;
}

// ANCHOR lm-page
.lm-page {
  width: 100%;
  // Take the whole height
  height: 100vh;
  padding: 3rem;
}

.invinsible {
  display: none;
}
