*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// Remove all styles from links
a {
  text-decoration: none !important;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

// ANCHOR .app
.app {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

// ANCHOR lm-page
.lm-page {
  width: 100%;
  min-width: 300px;
  max-width: 992px !important;
  height: 100%;
  margin-right: auto;
  margin-left: auto;

  margin-bottom: 5rem;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;

  background-color: rgba(107, 107, 107, 0.342);
  color: white;
  text-shadow: 0 0 1px black;

  @media screen and (min-width: 768px) {
    padding: 3rem;
    margin-top: 5rem;
    margin-bottom: unset;
  }
}

.invinsible {
  display: none;
}

// NOTE TABLETS
@mixin sm() {
  @media screen and (min-width: 576px) {
    @content;
  }
}

// NOTE LAPTOPS
@mixin md() {
  @media screen and (min-width: 768px) {
    @content;
  }
}

// NOTE DESKTOP
@mixin lg() {
  @media screen and (min-width: 768px) {
    @content;
  }
}

// NOTE makes the modal from bootstrap full width
.modal-dialog {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100vh;
  min-width: 100vw;
  border-radius: 0;
}

// NOTE Add some padding to the top for mobile devices
.rs-modal-content {
  & > * {
    padding-top: 1rem;
    @media screen and (min-width: 768px) {
      padding-top: unset;
    }
  }
}

// NOTE Override Quill.js style
.ql-editor {
  font-family: "Times New Roman", Times, serif !important;
  font-size: 16px;
  font-weight: 550;
  font-style: oblique;
}
