.lm-booksviewer {
  display: grid;

  .lm-bookcontainer {
    border: 2px solid black;
    padding: 1rem;
    margin: 1rem;
    display: grid;
    grid-template-areas:
      "image author title delete"
      "image progress pages pages";

    &:nth-child(2n) {
      background-color: rgb(155, 221, 155);
    }
    &:hover {
      cursor: pointer;
      border: 2px solid red;
    }
    .lm-authorviewer {
      grid-area: author;
    }
    .lm-titleviewer {
      grid-area: title;
    }
    .lm-imageviewer {
      grid-area: image;
    }
    .lm-progressviewer {
      grid-area: progress;
    }
    .lm-pagesviewer {
      grid-area: pages;
    }
    .lm-delete {
      grid-area: delete;
      display: flex;
      justify-self: flex-end;
      right: 0;
    }
  }
}
