.lm-booksviewer {
  display: grid;

  .lm-bookcontainer {
    border: 2px solid black;
    display: grid;
    grid-template-areas: "image author title";
    .lm-authorviewer {
      grid-area: author;
    }
    .lm-titleviewer {
      grid-area: title;
    }
    .lm-imageviewer {
      grid-area: image;
    }
  }
}
