.lm-bookmodifier {
  grid-area: lm-bookmodifier;
  min-height: 20vw;
  position: sticky;
  overflow: hidden;
  background-color: rgb(174, 174, 250);
  & > form {
    position: relative;
    display: flex;

    .lm-bookimage {
      grid-area: lm-bookimage;
    }

    .lm-bookprogress {
      grid-area: lm-bookprogress;
    }

    .lm-bookauthor {
      grid-area: lm-bookauthor;
    }

    .lm-booktitle {
      grid-area: lm-booktitle;
    }

    .lm-bookpages {
      grid-area: lm-bookpages;
      input {
        max-width: 10ch;
      }
    }

    .lm-adder {
      // grid-area: lm-button;
      position: absolute;
      right: 10%;
      bottom: -130%;
      width: 4rem;
      min-width: 4rem;
      max-width: 5%;
      height: 3rem;
      min-height: 2.5rem;
      max-height: 3rem;
      padding: 1rem;
      margin: 1rem;
      border-radius: 50% !important;
      background-color: blue;
      font-weight: bolder;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        padding: 1rem;
        font-weight: bolder;
        transform: scale(2);
        color: white;
        &:hover {
          cursor: pointer;
          color: red;
        }
      }
    }
  }
}

// ANCHOR .lm-bookstate
.lm-bookstate {
  display: grid;
  grid-template-areas: "left right";
  background-color: white;
  border: black 3px solid;
  height: 3rem;
  .lm-bookstate__left {
    background-color: black;
    grid-area: left;
  }

  .lm__bookstate__right {
    background-color: black;
    grid-area: right;
  }

  .lm-bookstate__span {
    .lm-bookstate__checkbox {
      // Make invisible
      opacity: 0;
    }
  }
}
