.lm-bookmodifier {
  display: grid;
  grid-template-areas:
    "lm-bookimage lm-bookimage lm-book"
    "lm-booktitle lm-booktile lm-bookpages";

  .lm-booktitle {
    grid-area: lm-booktitle;
  }

  .lm-bookpages {
    grid-area: lm-bookpages;
  }

  @media (max-width: 900px) {
    max-width: 66%;
  }
}
