.lm-bookmodifier {
  grid-area: lm-bookmodifier;
  display: flex;
  // overflow: hidden;
  background-color: rgba(174, 174, 250, 0.124);
  padding: 1rem;
  & > form {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    div {
      margin-right: 0.7rem;
    }

    .lm-bookimage {
      // grid-area: lm-bookimage;
    }

    .lm-bookprogress {
      // grid-area: lm-bookprogress;
    }

    .lm-bookauthor {
      // grid-area: lm-bookauthor;
      min-width: fit-content;
    }

    .lm-booktitle {
      // grid-area: lm-booktitle;
      min-width: fit-content;
    }

    .lm-bookpages {
      min-width: fit-content;
      // grid-area: lm-bookpages;
      input {
        min-width: fit-content;
        max-width: 10ch;
      }
    }

    .lm-adder {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      min-width: 4rem;
      max-width: 5%;
      height: 3rem;
      min-height: 2.5rem;
      max-height: 3rem;
      padding: 1rem;
      margin: 1rem;
      margin-left: auto;
      border-radius: 5px !important;
      background-color: blue;
      font-weight: bolder;
      font-size: 2rem;
      div {
        padding: 1rem;
        font-weight: bolder;
        color: white;
        &:hover {
          cursor: pointer;
          color: red;
        }
      }
    }
  }
}

// ANCHOR .lm-bookstate
.lm-bookstate {
  display: grid;
  grid-template-areas: "left right";
  background-color: white;
  border: black 3px solid;
  height: 3rem;
  .lm-bookstate__left {
    background-color: black;
    grid-area: left;
  }

  .lm__bookstate__right {
    background-color: black;
    grid-area: right;
  }

  .lm-bookstate__span {
    .lm-bookstate__checkbox {
      // Make invisible
      opacity: 0;
    }
  }
}
