.lm-flashcards {
  position: relative !important;
  overflow-y: hidden !important;
  height: fit-content !important;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .lm-flashcards__selector {
    max-width: 576px;
  }

  .flashcards__add {
    button {
    }
  }

  .lm-flashcards__viewer {
    .lm-lc-flashcardspagination {
      width: 100%;
    }
  }

  @media screen and (min-width: 768px) {
  }
}
