.lm-flashcards {
  position: relative !important;
  overflow-y: hidden !important;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  .lm-flashcards__selector {
    max-width: 576px;
    .bookselector__placeholder {
      background-color: black;
      .btn {
        background-color: red;
        color: white;
      }
    }
  }

  .flashcards__add {
    button {
    }
  }

  .flashcards__filter {
    width: 100%;
    margin: 2rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flashcards__viewer {
    width: 100%;
    .lm-lc-flashcardspagination {
      width: 100%;
    }
  }

  @media screen and (min-width: 768px) {
  }
}
