.lm-chapteradder {
  grid-area: lm-chapteradder;
  display: flex;
  flex-direction: column;

  justify-content: center;
  @media screen and (min-width: 576px) {
    flex-direction: row;
  }

  .lm-chapteradder__index {
    margin: auto;
    width: 7ch;
    min-width: 7ch;
    max-width: 7ch;
  }

  .lm-chapteradder__title {
    margin: auto;
    width: 30ch;
    max-width: 90%;
    min-width: 80%;
  }

  .lm-chapteradder__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    align-self: flex-end;
    margin-bottom: auto;
    margin-top: 1rem;
    width: 4rem;
    min-width: 4rem;
    max-width: 5%;
    min-height: 2.5rem;
    max-height: 3rem;
    border-radius: 5px !important;
    background-color: blue;
    font-weight: bolder;
    div {
      font-weight: bolder;
      color: white;
      &:hover {
        cursor: pointer;
        color: red;
      }
    }
    @media screen and (min-width: 576px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 676px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 876px) {
}

@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1920px) {
}
