.lm-chapteradder {
  grid-area: lm-chapteradder;
  display: "lm-index lm-title lm-title"
    "lm-subchapters lm-subchapters lm-button";

  .lm-chapteradder__index {
    grid-area: lm-index;
    width: 7ch;
    min-width: 7ch;
    max-width: 7ch;
  }

  .lm-chapteradder__title {
    grid-area: lm-title;
    width: 30ch;
    max-width: 90%;
    min-width: 80%;
  }

  .lm-chapteradder__subchapters {
    grid-area: lm-subbchapters;
  }
  .lm-chapteradder__button {
    grid-area: lm-button;
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 50% !important;
    font-weight: bolder;
    font-size: 2rem;
  }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 676px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 876px) {
}

@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1920px) {
}
