// Wraps the modal
.rs-modal-wrapper {
  overflow: initial;
}

.lm-chaptermodifier {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: grid;
  overflow: hidden;
  grid-template-areas:
    "lm-chapterheader"
    "lm-chapterbody"
    "lm-chapterfooter"
    "change";

  // NOTE Makes scrollbar in modal
  //overflow-y: scroll !important;

  & > .modal-dialog {
    max-width: 992px;
  }

  .lm-chaptermodifier__close {
    grid-area: close;
    position: fixed !important;
    top: 0.5rem;
    right: 0.5rem;
  }

  // ANCHOR lm-chapterhader
  .lm-chapterheader {
    grid-area: lm-chapterheader;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas: "lm-chaptertitle lm-chaptertitle lm-chapterstate";
  }

  // ANCHOR lm-chapterbody
  .lm-chapterbody {
    grid-area: lm-chapterbody;
    max-height: 80vh;
    overflow-y: auto;
    display: grid;
    grid-template-areas:
      "lm-chaptertitle"
      "lm-chapterstate"
      "lm-seperator1"
      "lm-summarymodifier"
      "lm-chaptermodifier__flashcards"
      "lm-seperator2"
      "lm-chaptermodifier__keywords"
      "lm-chaptermodifier__pictures";

    .lm-chaptertitle {
      grid-area: lm-chaptertitle;
      width: 100%;
    }

    .lm-chapterstate {
      grid-area: lm-chapterstate;
      width: 100%;
    }

    // NOTE <hr />
    .lm-seperator1 {
      grid-area: lm-seperator1;
    }

    .lm-chaptermodifier__summary {
      grid-area: lm-summarymodifier;
      width: 100%;
      max-width: 992px;
      overscroll-behavior-y: initial;
      .accordion-body {
        padding: 0;
      }
    }

    .lm-seperator2 {
      grid-area: lm-seperator2;
    }
    .lm-chaptermodifer__flashcards {
      grid-area: lm-chaptermodifier__flashcards;
    }
    .lm-chaptermodifier__keywords {
      grid-area: lm-chaptermodifier__keywords;
    }
    .lm-chaptermodifier__pictures {
      grid-area: lm-chaptermodifier__pictures;
    }
  }

  // ANCHOR lm-chapterfooter
  .lm-chapterfooter {
    grid-area: lm-chapterfooter;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
