.lm-chaptersviewer {
  position: relative !important;
  overflow-y: hidden !important;
  height: fit-content !important;
  grid-template-areas:
    "lm-chapteradder"
    "lm-chapters";
  .lm-chapters {
    grid-area: lm-chapters;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
