.lm-chaptersviewer {
  grid-template-areas:
    "lm-chapteradder"
    "lm-chapters";

  background-color: rgb(246, 240, 240);

  .lm-chapters {
    grid-area: lm-chapters;
    display: flex;
    flex-wrap: wrap;
  }
}
