.lm-chaptercontainer {
  position: relative;
  display: grid;
  grid-template-areas: "state index seperator title delete";
  height: 100%;
  width: fit-content;
  min-width: 300px;
  max-width: 992px;
  min-height: fit-content;
  border-radius: 5px;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  box-shadow: 10px 10px 5px rgb(231, 227, 227);
  padding: 1rem;

  font-weight: bold !important;

  &:hover {
    cursor: pointer;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 576px) {
  }

  .lm-chaptercontainer__state {
    grid-area: state;
  }

  .lm-chaptercontainer__index {
    grid-area: index;
    display: flex;
    align-items: center;
  }

  .lm-chaptercontainer__seperator {
    grid-area: seperator;
    display: flex;
    align-items: center;
  }

  .lm-chaptercontainer__title {
    grid-area: title;
    display: flex;
    align-items: center;
  }

  .lm-deletebutton {
    grid-area: delete;

    background-color: rgb(226, 77, 77);
    padding: 1rem;
    width: 1ch;
    height: 1ch;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: right;

    button {
      background-color: transparent;
    }

    &:hover {
      background-color: white;
    }
  }
}
