.lm-chaptersviewer {
  grid-template-areas:
    "lm-chapteradder"
    "lm-chapters";

  .lm-chapters {
    grid-area: lm-chapters;

    .lm-chaptercontainer {
      display: grid;

      // grid-template-areas: "" ;
      .lm-deletebutton {
        background-color: rgb(226, 77, 77);
        padding: 1rem;
        width: 1ch;
        height: 1ch;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
