.lm-register {
  width: 100%;
  height: fit-content;
  max-width: 1200px;
  position: relative !important;

  display: flex;
  justify-content: center;

  color: white;
  @media screen and (min-width: 786px) {
    margin-top: 2rem;
  }
  .register__container {
    form {
      div {
        .form-control {
          margin: 1rem 0;
        }
      }
    }
    .register__btn {
      margin: 1rem;
      display: flex;
      justify-content: center;
    }
  }

  .login-redirect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
    }
    button {
      width: fit-content;
    }
  }
}
