@import "../../pages/BooksViewer/SubComponents/bookcontainer";

.lm-gc-dragging {
  height: 100%;
  user-select: none;
  overflow: auto;

  display: grid;
  grid-template-areas: "entities entities_doing entities_done";
  grid-template-columns: repeat(3, 1fr);

  ul,
  li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }

  ul {
    height: 100%;
  }

  .entities_container {
    margin: 0 1rem;
    position: relative;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    h3 {
      margin: auto;
    }
    & > div {
      position: relative;
      width: 100%;
      height: 100%;
      & > ul {
        position: absolute;
        width: 100% !important;
      }
    }
    li.draggable-item {
      @include lm-bookcontainer;
    }
  }

  ul.entities {
    grid-area: entities;
  }

  ul.entities_doing {
    grid-area: entities_doing;
  }

  ul.entities_done {
    grid-area: entities_done;
  }
}
