.lm-gc-flashcardadder {
  max-width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

  .lm-gc-flashcardadder__question {
    margin: 0.5rem;
  }

  .lm-gc-flashcardadder__answer {
    margin: 0.5rem;
  }

  .lm-gc-flashcardadder__button {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    color: white;
    font-weight: bolder;
  }
}
