.lm-gc-flashcardadder {
  max-width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  
  // The container contains the form to add the flashcard
  .container {

  .lm-gc-flashcardadder__question {
    margin: 0.5rem;
  }

  .lm-gc-flashcardadder__answer {
    margin: 0.5rem;
  }

  .lm-gc-flashcardadder__button {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    color: white;
    font-weight: bolder;
  }
  }

  .lm-gc-flashcardadder__preview {
    @media screen and (max-width: 768px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      display: block;

    }
  }
}
