/* NOTE Overwrite the properties of rsuite.js */
// Wraps the modal
.rs-modal {
  margin: 0;
}
.rs-modal-sm,
.rs-modal-full {
  max-width: unset;
}
.rs-modal-wrapper {
  height: 100%;
  .rs-modal-dialog {
    height: 100%;
    max-height: 100vh;
    overflow-y: auto;
    .rs-modal-content {
      height: 100%;
    }
  }
}
.lm-gc-flashcardadder {
  max-width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  .flashcard__header {
    // position: fixed;
    display: flex;
    justify-content: end;
    .flashcardadder__exit {
      position: fixed;
      top: 10px;
      right: 10px;
      z-index: 2000;
      button {
      }
    }
  }

  // The container contains the form to add the flashcard
  .container {
    margin-top: 2rem;
    .lm-gc-flashcardadder__question {
    }

    .lm-gc-flashcardadder__answer {
      margin: 0.5rem;
    }

    .lm-gc-flashcardadder__button {
      position: fixed;
      bottom: 5px;
      left: 46%;
      display: flex;
      justify-content: center;
      margin: 0.5rem;
      color: white;
      font-weight: bolder;
      z-index: 2000;
    }
  }

  .lm-gc-flashcardadder__preview {
    @media screen and (max-width: 768px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
}
