/* NOTE Overwrite the properties of rsuite.js */
// Wraps the modal
.rs-modal {
  margin: 0;
}
.rs-modal-sm,
.rs-modal-full {
  max-width: unset;
}
.rs-modal-wrapper {
  height: 100%;
  .rs-modal-dialog {
    height: 100%;
    max-height: 100vh;
    overflow-y: auto;
    .rs-modal-content {
      height: 100%;
    }
  }
}

.lm-gc-flashcardmodal {
  width: 100%;
  .flashcardmodal__exit {
    position: fixed;
    right: 10px;
    top: 10px;
    button {
    }
  }

  .flashcardmodal__flashcard {
    margin-top: 2rem;
    width: 100%;
    max-width: 768px;
  }
}
