.lm-modal {
  &.modal-fadeOut {
    animation-name: fadeOut;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
