@use "sass:map";
@import "../abstracts/colors";
@import "../abstracts/globals";
// ANCHOR OFFCANVAS

.offcanvas-body {
  .lm-navbar__linkscontainer {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    .lm-navbar__link {
      padding: 2rem !important;
      margin: 0.5rem !important;
      text-decoration: none !important;
      color: map.get($colors, "secondary");
      background: #ededed;
      border: 1px solid #ccc;
      border-radius: 3px;
      cursor: pointer;

      &:active {
        background: #e5e5e5;
        -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
        -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
        box-shadow: inset 0px 0px 5px #c1c1c1;
        outline: none;
      }
    }
  }
}

// ANCHOR NAVBAR
.lm-navbar {
  background-color: #2ea0ce;
  width: 100vw;
  z-index: 100;
  position: fixed;
  overflow: hidden;
  bottom: 0 !important;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;

  @media screen and (min-width: 576px) {
    position: sticky !important;
  }
  .lm-navbar__inner {
    .lm-navbar__linkscontainer {
      display: flex;
      flex-direction: row;
      width: 100% !important;
      .lm-navbar__link {
        padding: 0.5rem !important;
        text-decoration: none !important;
        color: map.get($colors, "secondary");

        &:last-of-type {
          margin-left: auto;
        }
      }
    }
  }

  .lm-navbar__brand {
    border-radius: 5px;
    padding: 1rem;
  }

  .lm-navbar__linkscontainer {
    display: flex;
    flex-direction: row;
    .lm-navbar__link {
      font-size: 16px;
      padding: 0.5rem !important;
      text-decoration: none !important;
      margin: auto;
      color: rgb(84, 86, 231);
      color: map.get($colors, "secondary");
      @include md() {
        font-size: 20px;
      }

      .nav-item {
      }
    }

    .lm-navbar__link.user-icon {
      justify-self: end;
    }
  }
}

// Mimikes a button being pressed
@keyframes pressLink {
}
