@use "sass:map";
@import "../abstracts/colors";
.lm-navbar {
  background-color: #2ea0ce;
  width: 100vw;
  z-index: 100;
  position: fixed;
  bottom: 0 !important;

  .lm-navbar__inner {
    .lm-navbar__linkscontainer {
      display: flex;
      flex-direction: row;
      width: 100% !important;
      .lm-navbar__link {
        padding: 0.5rem !important;
        text-decoration: none !important;
        color: map.get($colors, "secondary");
      }
      .lm-navbar__link.user-icon {
        justify-self: end !important;
      }
    }
  }

  .offcanvas-body {
    .lm-navbar__linkscontainer {
      display: flex;
      flex-direction: column;
      width: 100% !important;
      .lm-navbar__link {
        padding: 2rem !important;
        margin: 2rem !important;
        text-decoration: none !important;
        color: map.get($colors, "secondary");
      }
    }
  }

  @media screen and (min-width: 576px) {
    position: sticky !important;
  }
  .lm-navbar__brand {
    border-radius: 5px;
    padding: 1rem;
  }

  .lm-navbar__linkscontainer {
    display: flex;
    flex-direction: row;
    .lm-navbar__link {
      padding: 0.5rem !important;
      text-decoration: none !important;

      color: map.get($colors, "secondary");
      .nav-item {
      }
    }

    .lm-navbar__link.user-icon {
      justify-self: end;
    }
  }
}
