.lm-textcontainer {
  min-height: 20vh;
  font-size: 0.7rem !important;
  font-weight: normal !important;
  border: 1px solid black;
  background-color: rgb(240, 240, 240);
  .quill {
    width: 100% !important;
    height: 100% !important;

    .ql-container {
      width: 100%;
      height: 100% !important;
      border: none !important;
    }
  }
}
