.lm-booktitle {
  .lm-booktitle__form {
    display: grid !important;
    grid-template-columns: 30% 75%;
    grid-template-areas: "author title" !important;
    .lm-booktitle__author {
      grid-area: author !important;
    }
    .lm-booktitle__title {
      grid-area: title !important;
    }
  }
}
