@use "sass:map";
@import "../../../abstracts//colors";

@mixin lm-bookcontainer {
  .lm-bookcontainer {
    // width: 100%;
    background-color: rgb(252, 249, 249);
    color: black;
    height: fit-content;
    display: grid;
    box-shadow: 5px 3px 10px black;
    margin: 1rem;
    grid-template-areas:
      "lm-image lm-image lm-image"
      "lm-author lm-author lm-author"
      "lm-title lm-title lm-title";

    @media screen and (min-width: 576px) {
      grid-template-areas:
        "lm-image lm-author lm-author"
        "lm-image lm-title lm-title";
    }

    &:hover {
      background-color: map-get($colors, "secondary");
      * {
        color: white;
      }
    }

    .lm-authorviewer {
      grid-area: lm-author;
    }
    .lm-titleviewer {
      grid-area: lm-title;
    }
    .lm-imageviewer {
      grid-area: lm-image;
    }
    .lm-progressviewer {
      // TODO Really?
      display: none;
      grid-area: lm-progress;
    }
    .lm-pagesviewer {
      grid-area: lm-pages;
      // TODO Really
      display: none;
    }
    .lm-deletebutton {
      position: absolute;
      right: 0;
      top: 0;
      background-color: rgb(226, 77, 77);
      padding: 1rem;
      width: 1ch;
      height: 1ch;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      // TODO Really
      display: none;
    }

    .lm-deletebutton:hover {
      background-color: rgb(128, 124, 124);
      color: white;
      font-weight: bolder;
    }
  }
}
