.lm-chapteradder__button {
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 50% !important;
  background-color: blue;
  color: white;
  font-weight: bolder;
  font-size: 2rem;
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 676px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 876px) {
}

@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1920px) {
}
